@media (min-width: 768px) {
  body {
    font-size: 18px;
  }
  .contenedor {
    display: flex;
    justify-content: space-between;
  }
}

body {
    background-color: #0075C9;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
  width: 100%;
}

.slogan {
    font-family: -apple-system, BlinkMacSystemFont, ;
    font-size: 12px;
    color: #ffffff;
    position: relative;
    transform: translateY(0px);
}

.siguenos {
    font-family: -apple-system, BlinkMacSystemFont, ;
    color: white;
    position: relative;
    transform: translateY(0px);
}

.redes{
    color: white;
    display: flex;
    gap: 35px;
    font-size: 35px;
    align-items: center;
    justify-content: center;
    position: relative;
    transform: translateY(0px);
}

a {
    color: #ffffff;
    text-decoration: none;
}

a:link {
    color: #ffffff;
}

a:visited {
    color: #ffffff;
}

a:active {
    color: #ffffff;

}

.footer{
    max-width: 100%;
    height: auto
    display: block;
}
